<div class="space-y-2 grid grid-cols-1 2xl:grid-cols-2 gap-4 justify-center items-center">
    <div class="grid grid-cols-1 2xl:grid-cols-2 gap-4">
        <img class="rounded-lg" src="assets/weather-forecast.png" alt="weather-forecast">
        <img class="rounded-lg" src="assets/horuly.png" alt="detailed-view">
    </div>

    <p class="primary-text-color sm:text-lg 2xl:px-12">
        You can checkout the weather forecast for your <span class="font-semibold">current location</span> (if you allow
        to share your location with us)
        or you can <span class="font-semibold">search for a desired city</span>. The weather forecast includes <span
            class="font-semibold">today's weather</span> with a detailed <span class="font-semibold">hourly view</span>
        and a <span class="font-semibold">daily view</span> for the upcoming days.</p>
</div>
