<div class="space-y-2 font-semibold rounded-md p-4 w-full mb-4 primary-bg-color">
    <div class="flex justify-between items-center primary-text-color text-lg sm:text-2xl mb-4">
        <div>Now,  {{ today | date: 'shortTime' }}</div>
        <div class="flex space-x-2 items-center" *ngIf="weatherAlert">
            <div>
                <fa-icon [icon]="alertIcon" class="text-red-500 text-lg sm:text-2xl" [fixedWidth]="true"></fa-icon>
            </div>
            <div class="text-sm text-red-500">
                <div>
                    {{ weatherAlert.event }}
                </div>
                <div>
                    {{ weatherAlert.start | date: 'shortTime' }} - {{ weatherAlert.end | date: 'shortTime'}}
                </div>
            </div>
        </div>
        <div class="text-sm flex space-x-4">
            <div>
                <fa-icon [icon]="sun"></fa-icon>
                <fa-icon [icon]="up"></fa-icon>
                {{ sunrise  | date: 'shortTime'}}
            </div>
            <div>
                <fa-icon [icon]="sun"></fa-icon>
                <fa-icon [icon]="down"></fa-icon>
                {{ sunset  | date: 'shortTime'}}
            </div>
        </div>
    </div>
    <div class="flex justify-around items-end pb-4">
        <div class="primary-text-color  space-y-4 flex flex-col items-center">
            <div class="font-semibold text-4xl sm:text-6xl">
                {{ currentTemp | convertUnits }}
            </div>
            <div>
                Feels like: {{ feelsLike | convertUnits}}
            </div>

        </div>
        <div class="flex flex-col items-center ">
            <img class="filter drop-shadow-2xl"
                 style="width:85px; height:auto; filter: drop-shadow(4px 4px 15px #70818a);"
                 [src]="'https://openweathermap.org/img/w/' + icon +'.png'">
            <div class="primary-text-color">
                {{ description }}
            </div>
        </div>
    </div>

    <div class="flex justify-around pt-4 border-t-2 border-sky-100">
        <div class="flex flex-col space-y-2 justify-center items-start">
            <div class="flex space-x-2 items-end">
                <div>
                    <fa-icon [icon]="umbrella" [fixedWidth]="true" class="primary-text-color"></fa-icon>
                </div>
                <div class="primary-text-color">
                    {{ rain | convertUnits: 'rain' }}
                </div>
            </div>
            <div class="flex space-x-2 items-end">
                <div class="flex space-x-2 items-end">
                    <div [ngClass]="windDirectionClass">
                        <fa-icon [icon]="arrow" [fixedWidth]="true" class="primary-text-color"></fa-icon>
                    </div>
                    <div class="primary-text-color">{{ windDirection }}</div>
                </div>

                <div class="primary-text-color">
                    <div> {{ current.windSpeed | convertUnits :'wind'}}</div>
                </div>
            </div>
        </div>
        <div class="flex flex-col space-y-2 justify-center items-start primary-text-color">
            <div class="flex space-x-2 items-end">
                <div>
                    UV-Index:
                </div>
                <div>
                    <div> {{ uvi }}</div>
                </div>
            </div>
            <div class="flex space-x-2 items-end">
                <div>
                    Humidity:
                </div>

                <div>
                    <div> {{ humidity}}%</div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex pt-8 border-t-2 border-sky-100 space-x-2  pb-8 overflow-x-scroll">
        <div *ngFor="let hourWeather of hourly"
             style="border: 2px solid #e0f2fe; border-radius: 10%;"
             class="sm:py-6 sm:px-10 py-3 px-5 flex flex-col space-y-2 items-center justify-between primary-text-color">
            <div class="font-semibold" style="white-space: nowrap;">{{hourWeather.hour | time }}</div>
            <div>
                <img class="filter drop-shadow-2xl"
                     style="width: 100px; height: auto; filter: drop-shadow(4px 4px 15px #70818a);"
                     [src]="'https://openweathermap.org/img/w/' + hourWeather.weather[0].icon +'.png'">
            </div>
            <div>
                <span class="font-semibold">{{ hourWeather.temp | convertUnits }}</span>
            </div>
        </div>
    </div>
</div>
