<div class="space-y-2">
    <div class="font-semibold primary-text-color sm:text-xl"> {{ date | date:'mediumDate' }}<span
            class="text-lg font-medium"> - {{ description }}</span></div>
    <div class="flex space-x-4 justify-between">
        <div class="flex flex-col items-center">
            <div>
                <img class="filter drop-shadow-2xl"
                     style="width:75px; height:auto; filter: drop-shadow(4px 4px 15px #70818a);"
                     [src]="'https://openweathermap.org/img/w/' + icon +'.png'">
            </div>
        </div>
        <div class="flex flex-col items-center justify-between">
            <div>
                <fa-icon [icon]="tempIcon" [fixedWidth]="true" class="primary-text-color sm:text-xl"></fa-icon>
            </div>
            <div class="primary-text-color">
                <span class="sm:text-2xl text-lg font-semibold">{{ tempMax | convertUnits }}</span> / {{tempMin | convertUnits}}
            </div>
        </div>
        <div class="flex flex-col items-center justify-between">
            <div>
                <fa-icon [icon]="umbrella" [fixedWidth]="true" class="primary-text-color sm:text-xl"></fa-icon>
            </div>
            <div class="primary-text-color">
                {{ rain | convertUnits: 'rain' }}
            </div>
        </div>
        <div class="flex flex-col items-center justify-between">
            <div>
                <div class="primary-text-color flex space-x-1 items-center">
                    <div [ngClass]="windDirectionClass">
                        <fa-icon [icon]="arrow" [fixedWidth]="true" class="sm:text-xl primary-text-color"></fa-icon>
                    </div>
                    <div class="font-semibold">{{ windDirection }}</div>
                </div>
            </div>
            <div class="primary-text-color">
                <div> {{ day.windSpeed | convertUnits :'wind'}}</div>
            </div>
        </div>
    </div>
</div>
