<div class="absolute top-1/4 left-20 animate-flying">
    <img src="/assets/cloud.png">
</div>
<div class="absolute top-1/3 right-44 animate-flying">
    <img src="/assets/cloud2.png">
</div>

<div class=" relative mx-auto my-28 w-2/3 rounded-lg p-8 backdrop-filter backdrop-blur"
     style="background: rgba(240, 249, 255,0.15);box-shadow: 0 8px 32px 0 rgba( 7, 89, 133, 0.37 );">
    <div class="flex flex-col space-y-20">
        <form [formGroup]="searchForm" class="flex justify-end relative">
            <div class="space-y-1">
                <div class="primary-bg-color rounded-md p-2 flex space-x-2">
                    <fa-icon [icon]="search" class="primary-text-color"></fa-icon>
                    <input type="text" formControlName="city" class="primary-text-color primary-bg-color outline-none"
                          placeholder="Enter city ...">
                    <fa-icon [icon]="reset" (click)="resetForm()" class="primary-text-color cursor-pointer"></fa-icon>
                </div>
                <div [hidden]="!showResults" class="absolute primary-bg-color rounded-md"
                     style="box-shadow: 0 8px 32px 0 rgba( 7, 89, 133, 0.37 ); width: 235px;">
                    <div (click)="fetchWeatherForCity(city)" *ngFor="let city of suggestions"
                         class="p-2 rounded-md primary-text-color hover:bg-sky-100 cursor-pointer space-y-2">
                        <span class="font-semibold">{{ city.name }}</span>, {{ city.country }}
                    </div>
                </div>
            </div>
        </form>

        <div *ngIf="!isLoading; else loading">
            <div class="space-y-4" *ngIf="city.length > 0; else noCity">
              <div class=" flex justify-between">
                <div class="inline-block  space-x-4 primary-bg-color primary-text-color rounded-md py-2 px-4 text-xl">
                  <fa-icon [icon]="marker" class="primary-text-color text-xl"></fa-icon>
                  <span class="font-semibold">{{ city }} <span *ngIf="country.length > 0">-&nbsp;</span>{{ country }}</span>
                </div>
                <div (click)="setShowDetails()" *ngIf="showDetails | async" class="font-semibold cursor-pointer inline-block bg-sky-800 rounded-md p-2 secondary-bg-color secondary-text-color">
                  Back
                </div>
              </div>

              <ng-container *ngIf="!(showDetails | async); else todayDetails">
                <div>
                  <app-weather-forecast [today]="today" [weatherForecast]="weatherForecast"></app-weather-forecast>
                </div>
              </ng-container>
             <ng-template #todayDetails>
               <div>
                 <app-today></app-today>
               </div>
             </ng-template>
            </div>
            <ng-template #noCity>
                <div class="flex flex-col items-center justify-center space-y-4 primary-bg-color primary-text-color p-4 rounded-md">
                    <div>
                        <fa-icon [icon]="weather" class="text-5xl"></fa-icon>
                    </div>
                    <div class="font-semibold">
                        No current location.
                    </div>
                    <div class="text-center">
                        Please search for a city or allow to use your current location to receive a weather forecast.
                    </div>
                </div>
            </ng-template>
        </div>
        <ng-template #loading>
            <div class="space-y-4 animate-pulse">
                <div *ngFor="let a of [0,1,2]" class="h-12 w-full primary-bg-color rounded-md"></div>
            </div>
        </ng-template>
    </div>
</div>
