<div class=" flex flex-col">
    <div class="space-y-4 font-semibold rounded-md p-4 w-full mb-4 primary-bg-color">
        <div>
            <app-current-widget [day]="weatherForecast.current" [alerts]="weatherForecast.alerts"></app-current-widget>

        </div>
        <div (click)="showTodayDetails()"
             class="flex justify-center">
            <div class="button button-secondary text-xs">
                More Details
            </div>
        </div>
    </div>
    <div class="grid 2xl:grid-cols-3 gap-4 grid-cols-1-4 w-full">
        <app-daily-widget *ngFor="let day of weatherForecast.daily; let i = index" [day]="day"
                          [index]="i" [today]="today"
                          class="rounded-md p-4"
                          [ngClass]="{'light-gradient' : !this.isDark, 'dark-gradient': isDark }">
        </app-daily-widget>
    </div>


</div>
