/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
// darK: from-gray-900 to-sky-800  from-sky-800 to-sky-100
body {
  @apply bg-gradient-to-b from-sky-800 to-sky-100 dark:from-gray-900 dark:to-sky-800;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 2px solid #e3edf4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #075985;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.primary-bg-color {
  @apply bg-sky-50  dark:bg-sky-900;
}

.secondary-bg-color {
  @apply bg-sky-800 dark:bg-sky-900;
}

.primary-text-color {
  @apply text-sky-800 dark:text-sky-100;
}

.secondary-text-color {
  @apply text-sky-50 dark:text-sky-900;
}

.button {
  @apply flex items-center font-semibold inline-block cursor-pointer rounded-lg shadow px-4  p-2;
}

.button-primary {
  @apply bg-sky-50 dark:bg-sky-900 text-sky-800 dark:text-sky-100;
}

.button-secondary {
  @apply bg-sky-900 dark:bg-sky-50 text-sky-100 dark:text-sky-800;
}

.page-not-found {
  background: url('assets/storm_clouds.jpg') no-repeat fixed;
  background-size: 100% 100%;
}

// ---------East--------------
.rotateToEast {
  transform: rotate(45deg);
}

.rotateToEastNorthEast {
  transform: rotate(20deg);
}

.rotateToEastSouthEast {
  transform: rotate(70deg);
}

// ---------WEST--------------

.rotateToWest {
  transform: rotate(225deg);
}

.rotateToWestSouthWest {
  transform: rotate(200deg);
}

.rotateToWestNorthWest {
  transform: rotate(250deg);
}

// ---------South--------------

.rotateToSouth {
  transform: rotate(135deg);
}

.rotateToSouthEast {
  transform: rotate(90deg);
}


.rotateToSouthWest {
  transform: rotate(180deg);
}

.rotateToSouthSouthWest {
  transform: rotate(170deg);
}

.rotateToSouthSouthEast {
  transform: rotate(110deg);
}

// ---------North--------------
.rotateToNorth {
  transform: rotate(-45deg);
}

.rotateToNorthWest {
  transform: rotate(270deg);
}

.rotateToNorthNorthWest {
  transform: rotate(290deg);
}

.rotateToNorthEast {
  transform: rotate(0deg);
}

.rotateToNorthNorthEast {
  transform: rotate(-20deg);
}
