<div class="text-sky-50 top-0 w-2/3 my-2 mx-auto w-2/3 z-10">
    <div class="flex justify-between items-center">
        <div>
            <a class="flex items-center space-x-2 cursor-pointer" (click)="navigate()">
                <div>
                    <fa-icon [icon]="cloud" class="text-4xl"></fa-icon>
                </div>
                <div class="text-2xl">
                    Cloudy
                </div>
            </a>
        </div>
        <div>
            <a [routerLink]="infoUrl">
                <fa-icon [icon]="info" class="text-sky-50 text-xl"></fa-icon>
            </a>
        </div>
    </div>
</div>
