<div class="sm:mx-auto mx-2 my-12 sm:my-28 sm:w-2/3 rounded-lg p-4 sm:p-8 backdrop-filter backdrop-blur"
     style="background: rgba(240, 249, 255,0.15);box-shadow: 0 8px 32px 0 rgba( 7, 89, 133, 0.37 );">
    <div class="space-y-10">
        <div class="text-sky-50 text-center text-2xl sm:text-5xl space-x-4 pt-4">
            Welcome to <br>
            <p class="text-3xl sm:text-6xl font-bold pt-4">Cloudy</p>
        </div>
        <div class="text-center text-sky-50 sm:text-2xl">
            This is the most beautiful weather app you have ever seen.
            <fa-icon [icon]="smiley"></fa-icon>
            <br>
            So, let me introduce you into this app.
        </div>
        <div class="grid grid-cols-1 space-y-10 pt-6">
            <div class="border-b-2 pb-10">
                <app-weather-forecast-showcase></app-weather-forecast-showcase>
            </div>
            <div class="border-b-2 pb-10">
                <app-light-theme-showcase></app-light-theme-showcase>
            </div>
            <app-dark-theme-showcase></app-dark-theme-showcase>
        </div>
        <div class="flex justify-center pt-6">
            <button class="button button-secondary space-x-2" (click)="navigateToHome()">
                <span>I'm ready to start</span>
                <fa-icon [icon]="meteor"></fa-icon>
            </button>
        </div>
    </div>
</div>

